body {
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  font-family: Roboto, Raleway, serif;
  font-weight: 400;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  /* color: ;
    font-size: 8px;
    line-height: ;
    font-weight */
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
}

.sect1 {
  background-color: #2e2f42;
  text-align: center;

  padding: 100px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect1-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  line-height: 1.07;
}

.sect4 {
  background-color: #f4f4fd;
}

.btn {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
}
.btn:hover {
  background-color: #404bbf;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
}

footer {
  background: #2e2f42;
}
