body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  /* color: ;
    font-size: 8px;
    line-height: ;
    font-weight */
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}

.logo-span-footer {
  color: #f4f4fd;
}

.secta {
  background-color: #2e2f42;
  text-align: center;
  min-height: 100vh;
}

.secta-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.sectd {
  background-color: #f4f4fd;
}

.btn {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

footer {
  background: #2e2f42;
}

.address {
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.contacts {
  color: #434455;
}
.benefits-p {
  letter-spacing: 0.02em;
  color: #434455;
}
.sect-title {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.sectd li {
  background-color: #ffffff;
}
.card-subtitle {
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-data {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-p {
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
