body {
    background: #F6F6FA;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}
.wrapper {
    background: #FFF;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}
.sidebar {
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.contact {
  color: #161d2a;  
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 8px;
}
.contact-type {
    color: #161d2a;  
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contact-link {
    color: #2979FF;  
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}
.contact-item {
    margin-top: 0;
    margin-bottom: 8px
}
.contact-contener {
margin-bottom: 40px;
    color: #2979FF;
} 
.skills-cont {
   margin-bottom: 40px; 
}
.skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700px;
    line-height: normal;
    margin-bottom: 8px;
}
.skills-list {
padding-left: 16px;
}
.skills-list-item {
color: #161D2A;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.my-prof {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
}
.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0px;
    margin-bottom: 12px;
}
.boltext {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.my-info {
    margin-bottom: 40px;
}
.my-proj-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}
.spisok-nomeriv {
padding-left: 16px;
}

.spisok-nomeriv-tex {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.spisok-nomeriv-tex-link {
    color: #005fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}
.spisok-nomeriv-tex-link-posls {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.my-proj-cont {
    margin-bottom: 40px;
}
.work-experience-zag {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}
.work-experience-comp {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;   
}
.work-experience-comp-fril {
    color: #6d9bf5;
}
.work-experience-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 8px;    
}
.rozd {
   color: #000; 
}

.work-experience2-el {
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;  
}

.work-experience2 {
    padding-left: 12px;
}

.work-experience-cont {
    margin-bottom: 12px;
}
.education-col {
    color: #6d9bf5;
}
.education-tit {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 8px;   
}

.work-experience-comp2 {
    color: #6d9bf5;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 8px; 
}

.education-fac {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
@media screen and (max-width: 960px) {
    padding: 20px 20px 20px 20px;
}
.main-content {
    padding: 40px;   
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 250px;
    }
    .my-foto {
        width: 200px;
    }
    .content {
        padding: 20px; 
    }
}
@media screen and (max-width: 800px) {
    body {
        padding: 0; 
    }
    .sidebar {
        width: 200px;
    }
    .my-foto {
        width: 250
}